.container{
    background-color:gray ;
    width: 400px;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; */

    /*top, right, bottom e left*/
    /*padding: 20px 20px 20px 20px; */

    /*top e bottom - right e left*/
    padding: 20px 10px;

    /*TODOS*/
    padding: 10px;

    /*ESTUDOS DE MARGIN: */
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;

    /*top, right, bottom e left*/
    /*margin: 20px 10px 20px 10px; */

    /*TODOS*/
    margin: 15px;

    /* BORDAS */
    /* tamanho, tipo e cor */
    border: 5px solid #999;
    border-radius: 10px;
}